{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links%}

{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table table-dark ">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Items</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cart.bike}}
                        <td>
                            <form id="qtyForm" action="{% url 'cart:change_qty' cart.id %}" method="POST">
                                {% csrf_token %}
                                <input type="number" step="1" min="1" value="{{cart.quantity}}" name="quantity">
                            </form>
                        </td>
                        <td>{{cart.bike.price}}</td>
                        <td>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <h3>{{cart.object}}</h3>
                                <a class="btn btn-danger" href="{% url 'cart:bike_delete' cart.id %}"> <i
                                        class="fa fa-close"></i></a>
                        </td>
                        </form>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <th colspan="3">Order TOtal:</th>
                        <th colspan="5">{{total}}</th>
                    </tr>
                    <tr>
                        <th><a class="btn btn-info" href="{% url 'home:index' %}" class="">Continue
                                Shopping</a>
                        </th>
                        <th><a class="btn btn-warning" {% if cart_count > 0 %} href="{% url 'cart:checkout' %}"
                                {% endif %}>Proceed
                                to
                                Checkout</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script_links%}
{% endblock %}
{% block scripts %}
<script>
    $('#qtyForm input').change(function () {
        $(this).closest('form').submit();
    });
</script>
{% endblock %}